@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --default-font-family: 'Ubuntu', 'sans-serif';
  --font-sans: 'Ubuntu', 'sans-serif';
  --font-mono: 'Ubuntu-Mono', 'monospace';
  --color-primary: #0F3D5C;
  --text-color: #0F3D5C;
  --color-secondary: #F98C35;
  --background-color: #ccc;
}
body {
  color: var(--text-color);
  line-height: 1.1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.content {
  h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
