@import "tailwindcss";
@import "@nuxt/ui";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {
  --default-font-family: 'Ubuntu', 'sans-serif';
  --font-sans: 'Ubuntu', 'sans-serif';
  --font-mono: 'Ubuntu-Mono', 'monospace';
  --color-primary: #0F3D5C;
  --text-color: #0F3D5C;
  --color-secondary: #8E4306;
  --color-tertiary: #F98C35;
  --background-color: #ccc;
}

@layer base {
  body {
    color: var(--text-color);
    line-height: 1.1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7rem
  }

  h5 {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .content {
    h1 {
      @apply mb-4;
    }

    h2 {
      @apply mt-8;
      @apply mb-4;
    }

    cite > a, blockquote > a, p > a {
      text-decoration: underline;
    }

    ul, ol, p {
      max-width: 70ch;
    }

    a:hover {
      text-decoration: underline;
      color: var(--color-tertiary);
    }

  }

}
