@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    /* Your custom design tokens go here
    --font-sans: 'Ubuntu', system-ui, sans-serif;
    --font-mono: 'Ubuntu-Mono', monospace;
    */
    --*: initial;
    --spacing: 4px;
    --font-body: Inter, sans-serif;
    --color-lagoon: oklch(0.72 0.11 221.19);
    --color-coral: oklch(0.74 0.17 40.24);
    --color-driftwood: oklch(0.79 0.06 74.59);
    --color-tide: oklch(0.49 0.08 205.88);
    --color-dusk: oklch(0.82 0.15 72.09);
}
